<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>
    <h1>ini adalh judul</h1>
    <h3><%= 'menggunakan alam'.toUpperCase() %></h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus illum, esse repellendus perspiciatis ea mollitia voluptates tempora suscipit porro odio enim doloribus eum, natus nostrum amet, soluta possimus obcaecati nihil! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate tempore saepe rerum sed fugiat repudiandae perferendis corporis ratione voluptatum esse quae, voluptatibus temporibus. Obcaecati quod pariatur dicta? Voluptatum, ab ullam!</p>
    <%- include('partials/footer.ejs') %>