<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ranodm part</title>
</head>
<body>
    <h1>
        ini adalah number random <%= angka %>
        
    </h1>
</body>
</html>